/* The body element represent the main content of an HTML page */
/* Its the area where all content goes and everything whats inside is what users see*/

@font-face {
  font-family: 'JetBrainsMonoNLNerdFont-Medium';
  src: url('/static/fonts/JetBrainsMonoNLNerdFont-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "JetBrainsMonoNLNerdFont-Medium", monospace;
}

header {
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

/* The . represents the div class that i made for this instance the navbar */
/* In this way i can tap into this element and style it to specific needs */
.navbar {
  width: 100%; /* covers the full width of the display */
  background-color: black;
  color: white; /* font color */
  font-size: 20px;
  position: fixed; /* Fixed position to keep it at the top */
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

.nav-item {
  padding: 20px;

}
.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item a:hover {
  color: blue;
}


/* HTML Container for all the HTML pages */
.html-container {
  position: relative;
  top: 60px;

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; /* Adjust this value based on your header's height */
  padding-bottom: 40px; /* Adjust this value based on your footer's height */
  padding-bottom: 30px; /* Adjust this value based on your footer's height */

}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
    background-color: #333; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 10px;
}
