{% extends "base.html" %}
{% block content %}

<section id="homepage">
  <div class="homepage-container">
    <h1>Hi, Mijn naam is Djey Miquel</h1>
    <p class="paragraph1">
    Welkom op mijn website waar ik alles deel over mijn IT ervaringen.
    <br>
    I'm an aspiring software developer based in Amsterdam<br>
    While I'm at the beginning of my proffesional journey, my passion for Software Development<br>
    drives me to learn and grow<br>
    <br>
    I recently finished a course from the Winc Academy with a certificate<br> 
    in Backend Development with python as the language<br>
    This experience gave me the tools to design, document, write, test and deploy programs/projects.<br>
    <br>
    I also finished the study for Linux administrator {LFCS} from the LOI Educational Institution.<br>
    This study gave me the skills to install linux, working with text documents, configure user enviroments<br>
    and working with hardware connections<br>
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>
    this is dummy txt
    <br>
    I also finished the study for Linux administrator {LFCS} from the LOI Educational Institution.<br>
    This study gave me the skills to install linux, working with text documents, configure user enviroments<br>
    and working with hardware connections<br>
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>
    this is dummy txt
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>
    this is dummy txt
    <br>
    I also finished the study for Linux administrator {LFCS} from the LOI Educational Institution.<br>
    This study gave me the skills to install linux, working with text documents, configure user enviroments<br>
    and working with hardware connections<br>
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>

    </p>
  </div>
</section>

<section id ="homepage2">
  <div class = "test">
    <p class = para>
    I also finished the study for Linux administrator {LFCS} from the LOI Educational Institution.<br>
    This study gave me the skills to install linux, working with text documents, configure user enviroments<br>
    and working with hardware connections<br>
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>
    <br>

    I also finished the study for Linux administrator {LFCS} from the LOI Educational Institution.<br>
    This study gave me the skills to install linux, working with text documents, configure user enviroments<br>
    and working with hardware connections<br>
    <br>
    I'm very interested to become a fullstack developer to start my carreer, i enjoy the process<br>
    of building a website from designing to deploying.<br>
    this is dummy text<br>
    </p>
  </div>
</section> 

{% endblock content %} 

