{% extends "base.html" %}
{% block content %}

<section id="homepage">
  <div class="homepage-container">
    <h1 >Hi, my name is Djey Miquel</h1>
    <p class="para-1">
    And here is where a share my passion, projects and blogposts<br>
    related to Web and Software Development
    </p>
  </div>
  <hr>
</section>

<section id="homepage-2">
  <div class="image-container">
  </div>
</section>

<section id="homepage-3">
  <div class="image-container-2">
  </div>
</section>

{% endblock content %} 

